typer==0.4.0
mkdocs==1.4.2
mkdocs-material==9.0.0
mkdocs-material-extensions==1.0.3
mkdocs-section-index==0.3.2
mdx-include==1.4.1
mkdocs-macros-plugin==0.6.3
mkdocs-section-index==0.3.2
jinja2==3.0.3
click===8.0.4
Markdown===3.3.7