[data-cognigy-webchat-root] [data-cognigy-webchat].webchat {
    width: 420px;
}

@media (max-width: 480px) {
    [data-cognigy-webchat-root] [data-cognigy-webchat].webchat {
        width: 390px;
        height: 600px;
        margin-left: 1rem;
        position: fixed;
        bottom: 100px;
        top: auto !important;
    }
}

@media (max-width: 390px) {
    [data-cognigy-webchat-root] [data-cognigy-webchat].webchat {
        width: 350px;
        height: 500px;
        margin-left: 1rem;
        position: fixed;
        bottom: 100px;
        top: auto !important;
    }
}

[data-cognigy-webchat-root] [data-cognigy-webchat].webchat .webchat-header-title {

    font-size: 13px;
}

[data-cognigy-webchat-root] [data-cognigy-webchat].webchat .regular-message {

     font-size: 12.2px;
}

[data-cognigy-webchat-root] [data-cognigy-webchat].webchat .webchat-message-row {

    font-size: 13px;
}